## Customer Insights: Understand customer behavior, location trends, and engagement

## 1. List all States with more than 2 customers per state

In [ ]:
SELECT CustomerState, COUNT(*)
FROM Customer_T
GROUP BY CustomerState
HAVING COUNT(*) > 2;

In [ ]:
Explaination:

## 2. Retrieve names and state of customers not in Florida, California, and Texas

In [ ]:
SELECT CustomerName, CustomerState
FROM Customer_T
WHERE CustomerState NOT IN ('CA', 'FL', 'TX')
ORDER BY CustomerName, CustomerState;

## 3. Find how many customers are there in each state

In [ ]:
SELECT CustomerState, COUNT(*) Count_0f_Customers
FROM Customer_T
GROUP BY CustomerState;

## 4. Find states with two or more customers

In [ ]:
SELECT CustomerState, COUNT(*) Count_0f_Customers
FROM Customer_T
GROUP BY CustomerState
HAVING Count_Of_Customers >= 2;

## 5. List Customer ID and names for customers that did not place any order

In [ ]:
SELECT CustomerID, CustomerName
FROM Customer_T
WHERE CustomerID NOT IN ( 
    SELECT CustomerID" 
    From Order_T
    )
;

## 6. For each Florida customer with less than three orders, display their names and how Many times each customer placed orders

In [ ]:
SELECT CustomerName, COUNT(OT.CustomerID) AS CountOfOrders
FROM Customer_T CT LEFT OUTER JOIN Order_T OT
ON CT.CustomerID = OT.CustomerID
WHERE CustomerState = 'FL'
GROUP BY CustomerName
HAVING CountOfOrders < 3;

## 7. For each customer with less than 2 orders and outside California and Florida, display their names and how many times each customer placed orders

In [ ]:
SELECT CustomerName, COUNT(OrderID) AS CountOfOrders
FROM Customer_T CT LEFT OUTER JOIN Order_T OT
ON CT.CustomerID = OT.CustomerID
WHERE CustomerState NOT IN ('CA', 'FL')
GROUP BY CustomerName
HAVING CountOfOrders < 2;

## 8. List customer names and states that either ordered products with less than average price or they are located in any state except NY, NJ, TX (EXISTS Operator)

In [ ]:
SELECT DISTINCT CustomerName, CustomerState
FROM Customer_T CT
INNER JOIN Order_T OT ON CT.CustomerID = OT.CustomerID
INNER JOIN OrderLine_T OLT ON OT.OrderID = OLT.OrderID
WHERE EXISTS (
	SELECT *
	FROM Product_T PT
	WHERE ProductID = OLT.ProductID
	AND ProductStandardPrice < (
		SELECT AVG(ProductStandardPrice)
		FROM Product_T
		)
	)
OR CustomerState NOT IN ('NY', 'NJ', 'TX');

## 9. Retrieve names and states of customers that have placed orders and are not located in California or Texas

In [ ]:
SELECT CustomerName, CustomerState
FROM Customer_T
WHERE CustomerState NOT IN ('CA', 'FL', 'TX')
ORDER BY CustomerState;

## 10. Display names of Florida customers with more than one order

In [ ]:
SELECT CustomerName, COUNT(OT.OrderID) AS NumOfOrders
FROM Customer_T CT
INNER JOIN Order_T ON CT.CustomerID = OT.CustomerID
WHERE CustomerState = 'FL'
GROUP BY CustomerName
HAVING NumOfOrders > 1;