### Sales Value Metrics: Aggregate financial metrics across products, orders, and customers

### 1. Retrieve the Product IDs and the total cost of each product in Order 1001

In [ ]:
SELECT OLT.ProductID, SUM(OrderedQuantity*ProductStandardPrice) AS ProductTotal
FROM OrderLine_T OLT, Product_T PT 
WHERE OLT.ProductID = PT.ProductID   --'of each' implies a Group (ProductID)
AND OrderID = 1001                   --we can simply apply our filter here since we already have the ProductID in display
GROUP BY OLT.ProductID;

### 2. List Customer names and total amount spent per customer

In [ ]:
SELECT CustomerName, SUM(OrderedQuantity*ProductStandardPrice) AS CustomerTotal
FROM Customer_T CT 
INNER JOIN Order_T OT ON CT.CustomerID = OT.CustomerID      --Any time we request customer and total sales amount info
INNER JOIN OrderLine_T OLT ON OT.OrderID = OLT.OrderID      --we require joining all tables
INNER JOIN Product_T PT ON OLT.ProductID = PT.ProductID
GROUP BY CustomerName;

### 3. For all customers that have placed orders, display customer IDs, names and their order numbers. Sort the result based on customer names

In [ ]:
SELECT DISTINCT OT.CustomerID, CustomerName, OrderID
FROM Customer_T CT INNER JOIN Order_T OT
ON CT.CustomerID = OT.CustomerID
ORDER BY CustomerName;

### 4. Show customers with two or more orders. Include customer ID, name and number of orders.

In [ ]:
SELECT OT.CustomerID, CustomerName, COUNT(OrderID) AS NumOfOrders
FROM Customer_T CT INNER JOIN Order_T OT
ON CT.CustomerID = OT.CustomerID
GROUP BY OT.CustomerID, CustomerName
HAVING NumOfOrders >= 2;

### 5. Retrieve customer ID and name that purchased products below average price

In [ ]:
SELECT DISTINCT OT.CustomerID, CustomerName
FROM Customer_T CT
INNER JOIN Order_T OT ON CT.CustomerID = OT.CustomerID
INNER JOIN OrderLine_T OLT ON OT.OrderID = OLT.OrderID
WHERE OLT.ProductID IN (                              --Bypass needing to JOIN OLT w/ PT via common key reference
    SELECT PT.ProductID
    From Product_T PT
    WHERE ProductStandardPrice < (                    --Subquery of AVG(price) to return comparison of EACH record
        SELECT AVG(ProductStandardPrice)
        FROM Product_T
        )
    )
ORDER BY OT.CustomerID;