### Conditional Analysis: Apply conditional logic using WHERE, HAVING, and multi-state filters

### 1. Display the names and addresses of Florida customers with total orders of more than $2000 value

In [ ]:
SELECT CustomerName, CustomerAddress, CustomerState, 
SUM(OrderedQuantity*ProductStandardPrice) AS TotalOrder
FROM Customer_T
INNER JOIN Order_T ON CT.CustomerID = OT.CustomerID
INNER JOIN OrderLine_T OLT ON OT.OrderID = OLT.OrderID
INNER JOIN Product_T PT ON OLT.ProductID = PT.ProductID
WHERE CustomerState = 'FL'
GROUP BY CustomerName, CustomerAddress, CustomerState
HAVING TotalOrder > 2000;

In [ ]:
Explaination:

### 2. Names of Florida customers with more than one order
Possible rePEAT

In [ ]:
SELECT CustomerName, CustomerState
FROM Customer_T
WHERE CustomerState NOT IN ('CA', 'FL', 'TX')
ORDER BY CustomerName, CustomerState;

### 3. For Customers with one or more orders, display their names and number of times they placed orders

In [ ]:
SELECT CustomerName, COUNT(CT.CustomerID) AS NumOfOrders
FROM Customer_T CT INNER JOIN Order_T OT
ON CT.CustomerID = OT.CustomerID
GROUP BY CustomerName
HAVING NumOfOrders >= 1;

### 4. For orders placed by customers from Florida or include products with “Cherry” finish, retrieve order IDs, Customer names, their state, and the total amount of orders

In [ ]:
SELECT DISTINCT OT.OrderID, CustomerName, CustomerState,
SUM(OrderedQuantity*ProductStandardPrice) AS OrderTotal
FROM Customer_T CT
INNER JOIN Order_T OT ON CT.CustomerID = OT.CustomerID
INNER JOIN OrderLine_T OLT ON OT.OrderID = OLT.OrderID
INNER JOIN Product_T PT ON OLT.ProductID = PT.ProductID
WHERE EXISTS(
	SELECT *
	FROM Customer_T CT
	WHERE CustomerID = OT.CustomerID
	AND (
		CustomerState = 'FL'
		OR ProductFinish = 'Cherry'
		)
	) 
GROUP BY OT.OrderID, CustomerName, CustomerState;

### 5. For each customer with less than 2 orders and outside of California and Florida, display their names and how many times each customer placed orders.

In [ ]:
SELECT CustomerName, COUNT(OrderID) AS CountOfOrders
FROM Customer_T CT LEFT OUTER JOIN Order_T OT
ON CT.CustomerID = OT.CustomerID
WHERE CustomerState NOT IN ('CA', 'FL')
GROUP BY CustomerName
HAVING CountOfOrders < 2;